@charset "utf-8";

:root {
  --app-font-color: #242424;
  --app-color-primary: #900;
  --app-color-secondary: #c00000;
  --app-color-tertiary: #994d00;
  --app-box-radius: 8px;
  --app-box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
}